.article-detail-container {
    padding: 40px;
    background-color: #1e1e1e; 
    color: #f0f0f0; 
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 120px; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.article-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
    border: 2px solid #cc0000; 
}

.article-detail-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #cc0000; 
}

.article-detail-container p {
    font-size: 1rem;
    color: #f0f0f0;
    line-height: 1.6;
    margin-bottom: 20px;
}

.article-detail-container p::first-letter {
    font-size: 1.5rem;
    font-weight: bold;
    color:#cc0000; 
}
