/* src/pages/css/Sejarah.css */
.sejarah-container {
    padding: 20px;
    background-color: #181818; 
    color: #eaeaea; 
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #cc0000; 
}

.filter-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-button {
    background-color: #292929; 
    color: #eaeaea;
    border: 1px solid #444444; 
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button:hover {
    background-color: #444444; 
}

.filter-button.active {
    background-color: #cc0000; 
    color: #fff;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card-link-wrapper {
    text-decoration: none;
    color: inherit;
}

.card {
    background: #2c2c2c; 
    border: 1px solid #444; 
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.card:hover {
    transform: scale(1.05); 
    background-color: #3a3a3a;
}

.card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #eaeaea; 
}

.card-content p {
    font-size: 14px;
    color: #ddd; 
}
